name: GitOps Linode Deploy
on:
  push:
    branches: [ main ]

  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:

    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Install Terraform
      uses: hashicorp/setup-terraform@v3

    - name: Terraform Init
      working-directory: terraform
      run: terraform init

    - name: Terraform Apply
      working-directory: terraform
      run: |
        terraform apply -auto-approve \
        -var "linode_token=${{ secrets.LINODE_TOKEN }}" \
        -var "ssh_public_key=${{ secrets.SSH_PUBLIC_KEY }}"

    - name: Install jq
      run: sudo apt-get install -y jq

    - name: Generate Inventory
      run: bash scripts/generate_inventory.sh

    - name: Install Ansible
      run: sudo apt-get install -y ansible

    - name: Setup SSH key
      run: |
        mkdir -p ~/.ssh
        echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
        chmod 600 ~/.ssh/id_rsa

    - name: Run Ansible
      run: |
        export ANSIBLE_CONFIG=ansible/ansible.cfg
        ansible-playbook ansible/playbooks/site.yaml


    - name: Health Check
      run: |
        for ip in $(cat ansible/inventory/hosts.ini | grep -v web)
        do
          curl -f http://$ip || exit 1
        done

    - name: Deployment Success
      run: echo "Deployment completed successfully"
